body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: inherit;
}

:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

@media (prefers-reduced-motion:no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

